<div class="aj-intagram-explore">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="inta-top-button-wrapper">
            <a href="{{ section.settings.ul }}" class="btn d-flex justify-content-center align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg"
                fill="#fff"
                viewBox="0 0 50 50"
                width="30px"
                height="30px">
                <path
                  d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"/>
              </svg>
            
                <div class="instabutton-left-text d-flex">
                  <p class="m-0">{{ section.settings.text }}</p>
                  <div class="intagram-button-icon">
                    <svg hxmlns="http://www.w3.org/2000/svg">
                    <path
                      style="fill: #fff"
                      d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z"
                      data-name="Right"/>
                  </svg>
                  </div>
                </div>
             
                
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



  {% schema %}
    {
        "name": "Instagram Button",
        "class": "instagram",
        "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Select your Social Media Name",
            "default": "Instagram",
            "info": "Instagram",
            "placeholder": "Instagram"
        },
        {
            "type": "url",
            "id": "ul",
            "label": "Please put your Instagram Handel",
            "info": "Label"
        }
        ],
        "blocks": [
            {
                "type": "instagram",
                "name": "insta",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "img",
                        "label": "Select your Image"
                    }
                ]
            }
        ]
        
    }
  {% endschema %}
  