.express-massage {
  background-color: #000;
}

img {
  max-width: 100%;
}

.icon-with-modal {
  margin: 20px 0;
}

p {
  font-size: 12px;
}

.singel-bannar {
  display: block;
}

.cutome-pakage {
  position: absolute;
  width: 40px;
  top: 36%;
  background: red;
  height: 40px;
  border-radius: 30px;
  z-index: 100;
  line-height: 56px;
  text-align: center;
}

.button-next.cutome-pakage.slick-arrow {
  right: 0;
}

.cutome-pakage {
  text-align: center;
}
.cutome-pakage svg {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 25px 0.25rem;
}
.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: orange;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: red;
}

.aj-detaild-wrapper {
  margin: 50px 0;
}

.singelitem {
  margin: 8px;
}
.singelitem .review-content {
  border: 1px solid #ddd;
  padding: 10px 20px;
}
.singelitem .review-content h5 {
  font-weight: 900;
}
.singelitem .review-content p {
  padding: 8px 0 0 0;
  line-height: 20px;
}
.singelitem .review-content .review-icon svg {
  width: 120px;
}

.review-title h2 {
  text-align: center;
  margin: 20px;
}

.inagram-title h5 {
  text-align: center;
  margin: 50px 0 20px 0;
}

.aj-instagram {
  margin: 60px;
}

.inta-top-button-wrapper a.btn {
  background: #000;
  text-transform: uppercase;
}

.intagram-button-icon svg {
  height: 19px;
  width: 25px;
  display: inline-block;
}

.inta-top-button-wrapper {
  display: inline-block;
}
.inta-top-button-wrapper p {
  font-size: 16px;
  color: #fff;
}

#section-cta {
  background: url(http://templates.thememodern.com/compact/images/bg/bg-team.jpg) top fixed;
}

section {
  padding: 60px 0 60px 0;
  background: #fff;
}

section#section-cta {
  background-size: 100% !important;
  position: relative;
}

section#section-cta::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #29b6f6;
  opacity: 0.9;
  z-index: 1;
  content: "";
}

.sep-background-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #29b6f6;
  opacity: 0.9;
  z-index: 1;
}

section > .container {
  position: relative;
  z-index: 2;
}

.quick_newsletter .newsletter-info {
  color: #f8f8f8;
}

.quick_newsletter .newsletter-info {
  color: #f8f8f8;
}

.quick_newsletter .newsletter-info h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0px;
  color: #f8f8f8;
}

.quick_newsletter .newsletter-element .input-text {
  background-color: #f8f8f8;
  padding: 15px 20px;
  display: inline-block;
  border: none;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.quick_newsletter .newsletter-element .newsletter-submit {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  line-height: 21px;
  padding: 15px 30px 15px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: auto;
  position: relative;
  display: inline-block;
  background-color: #555555;
}

.quick_newsletter .newsletter-element .newsletter-submit:hover {
  background-color: #666565;
}

.quick_newsletter .newsletter-element .newsletter-submit i {
  margin-right: 5px;
}

.quick_newsletter p {
  margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {
  .newsletter-element .input-text, .newsletter-element .newsletter-submit {
    margin-top: 20px;
  }
}
.aj-intagram-explore {
  margin: 40px 0;
}

.instabutton-left-text {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #fff;
}

.footer-wrapper {
  padding: 50px 0 10px 0;
}

.footer-menu-wrapper {
  padding: 30px;
}
.footer-menu-wrapper ul {
  padding: 0;
  text-align: center;
}
.footer-menu-wrapper ul li {
  list-style-type: none;
  display: block;
}
.footer-menu-wrapper ul li a {
  font-size: 17px;
  font-weight: 600;
  color: #000;
  padding: 5px 0;
}

.footer-socail {
  padding: 30px;
  text-align: center;
}
.footer-socail h5 {
  font-weight: bold;
}
.footer-socail ul {
  padding: 0;
}
.footer-socail ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 8px 0 0;
}
.footer-socail ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.footer-new-latter-wrapper {
  padding: 30px 20px;
}
.footer-new-latter-wrapper .newsletter-submit {
  color: #fff;
  background: #000;
}

.footer-payment-wrapper {
  padding-top: 20px;
}
.footer-payment-wrapper ul {
  padding: 0;
}
.footer-payment-wrapper ul li {
  display: inline-block;
  padding: 0 10px;
}
/*# sourceMappingURL=style.css.map */
